body {
    font-family: sans-serif;
    background-color: pink;
}
table, .configurador, #tempo {
    width: 500px;
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
}
table td {
    border: 2px solid black;
    height: 166px;
    width: 166px;
    text-align: center;
    font-size: 96px;
}
.configurador, #tempo {
    text-align: center;
    border: none;
    margin-bottom: 10px;
}
.configurador input {
    padding: 10px;
    background-color: #f188f5;
    border: 1px solid black;
    color: black;
}
.configurador span {
    background-color: #f188f5;
    padding: 9px 15px 11.5px 15px;
    vertical-align: baseline;   
}
.configurador button {
    padding: 7px 15px;
    background-color: #f188f5;
    border: 2px solid rgb(0, 0, 0);
}
.msg {
    width: 480px;
    padding: 10px;
    background-color: #f188f5;
    margin-bottom: 10px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    
}